/* whohowheohwoehwoheowhew wow dude look im doing it mom im making a website */
body {
    font-family:
    Futura, Helvetica, Arial, sans-serif;
}

p, ul, ol{
    font-size: 25px;
    color:red
}

.wrapper {
    background: pink;
    color: rgb(255, 85, 85);
}

.idk {
    background: orange;
    color: blue;
    font-weight: bold;
    padding: 5px;
}

.idk.red-background {
    background: red;
}

a, a:link{
    color: green;
    font-weight: bold;
}

a:visited {
    color:rgb(147, 1, 152);
}

a:focus, a:hover, a:active {
    color:red;
}


body {
    background-image: url(images/mock_background.png); 
    background-repeat: no-repeat;                   
    background-size: cover 32;              
    background-position: center;                  
    background-attachment: fixed;                                  
    margin: 0;
    padding: 0;          
}

p {
    font-family: fantasy, Cambria, "Times New Roman", serif; 
} /* Cambria first, if not available, use Times... */

/* body {
    overflow: hidden;
    height: 100vh
} */